body, html{
  margin: 0;
  background-color: #F2F2F2;
}

a, button{
  cursor: pointer;
}

.nav{
  width: 60px;
  background-color: #F23D4C;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  border: #F23D4C solid;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: .4s ease-out;
}

.nav:hover{
  color: #F23D4C;
  background-color: white;
}

.container-wrap{
  width: 70%;
  height: 300px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  display: flex;
  font-family: 'Roboto',sans-serif;
}

/*Even*/

.img-cont{
  background-color: white;
  width: 40%;
  height: 100%;
  flex-grow: 1;
  border: solid 2px black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

img{
   width:100%;
   height:100%;
}

.proj-d{
  width: 60%;
  height: 100%;
  background-color: white;
  flex-grow: 1;
  border: solid 2px black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.proj-title{
  text-align: center;
  font-size: 30px;
}

p{
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  text-align: center;
}

ul{
  display: inline-block;
}

ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.fa-github{
  color: #6155a6;
  font-size: 2.5em;
  transition: .6s ease-out;
}

.fa-github:hover{
  color: #3E00FF;
}

.fa-code{
  color: #79D70F;
  font-size: 2em;
  padding-right: 50px;
  transition: .6s ease-out;
}

.fa-code:hover{
  color: #388E3C;
}

.icon-cont{
  text-align:center;
  background-color: white;
  bottom: 0;
  position: absolute;
  width:100%;
  border-bottom-right-radius: 15px;
}

body:last-child{
  padding-bottom: 50px;
}

/*Odd*/

.img-cont-odd{
  background-color: white;
  width: 40%;
  height: 100%;
  flex-grow: 1;
  border: solid 2px black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.proj-d-odd{
  width: 60%;
  height: 100%;
  background-color: white;
  flex-grow: 1;
  border: solid 2px black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}


.icon-cont-odd{
  text-align:center;
  background-color: white;
  bottom: 0;
  position: absolute;
  width:100%;
  border-bottom-left-radius: 15px;
}