<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <title>Denys Mauro</title>
  <link rel="stylesheet" href="{% static 'css/comingsoon.css' %}">

</head>
  <body>
    <div id="waitingpage" class="bgimg">
  <div class="topleft">
    <a class="home" href="{% url 'website:index' %}">HOME</a>
  </div>
  <div class="middle">
    <h1 class="rainbow rainbow_text_animated">COMING SOON</h1>
  </div>
</div>
  </body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
</body>
</html>
