/* navbar */

.header {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header a{
  color: white;
  font-weight: 700;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:transparent;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #F23D4C;
  color: white !important;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
}

/* nav menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* nav menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 500px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.header.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.menu-icon .navicon.scrolled {
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

.header .menu-btn:checked ~ .menu-icon .navicon.scrolled {
  background: transparent !important;
}

.menu-icon .navicon.scrolled:before{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}
.menu-icon .navicon.scrolled:after{
  background: #F23D4C !important;
  transition: all .2s ease-out;
}

/*-----*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #F2F2F2;
	  background-size: 400% 400%;
    text-rendering: optimizeLegibility;
}

.norm {
    color: #212121;
    border: dotted 10px;
    border-bottom: none;
    width: 2%;
    margin: 20px auto;
    opacity: 0.8;
}

p{
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
}

/* Main */

.intro-n{
  padding-top: 10%;
  padding-bottom: 170px;
}

@media screen and (max-width: 600px){
  .intro-n{
  padding-bottom: 20%;
}
}

#name {
  padding-top: 20%;
	color: white;
	font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
	font-size: 5.5rem;
	letter-spacing: 0.5rem;
	background-size: cover;
  position: relative;
  text-align: center;
}

#pro{
  color: white;
  font-size: 2.5rem;
  font-family:'Montserrat',sans-Serrif;
  font-style: italic;
  text-align: center;
  padding: 1rem 2rem;
}

.proj-btn,.cont-btn{
    margin-left: 20px;
  }

@media screen and (max-width: 380px){
  #name{
  padding-top: 30%;
  font-size: 4rem;
}
  #pro{
    font-size: 2rem;
  }
  .proj-btn,.cont-btn{
    display:none;
  }
}

.top-container {
  width: 100%;
  height: 90%;
  position:relative;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 1032px){
  #name {
  padding-top: 10%;
  }
}

/* scroll-down */
.scroll{
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: relative;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* mid section */

/* top mid about me */

.top-mid{
  height: 70%;
  position: relative;
  width: 100%;
  text-align: center;
}

#intro{
  color: #F23D4C;
  padding-top: 10vh;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  font-size: 3rem;
  padding-bottom: 1rem;
  }

.intro-p{
  font-family: 'Roboto', sans-serif;
  color: #0D0D0D;
  font-size: 1.4rem;
  text-align: center justify;
  padding-bottom: 1.5rem;
}

/* bottom mid skills */

.bottom-mid{
  height: 100%;
  width: 100%;
}

.skills{
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  font-size: 3rem;
  color: #F23D4C;
}

.sk{
  color:red;
  border-top: 1px solid;
  width: 130px;
}

/* skills icons */

.skills-section{
padding-top: 20px;
}

.skills-header:after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 100px;
height: 4px;
background-color: #2ecc71;
border-radius: 2px;
}

.skills-container{
display: grid;
grid-tempLate-columns: repeat(6, 1fr);
justify-content:center;
align-items:center;
text-align: center;
grid-gap:1rem;
padding: 1rem 80px;
font-size: 1.2rem;
}

.skills-box{
padding: 1rem;
color: #000;
cursor:pointer;
}

.skills-box:hover > .skills-title: after,
.skills-box:hover > .skills-title: before{
width: 30px;
}

.skills-box:hover .skills-img{
transform: translateX(-20px);
}

.skills-title{
display:flex;
flex-direction: column;
align-items:center;
padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}

.skills-title:after{
content: '';
position:absolute;
bottom: 0;
rigth: 50%;
width:20px;
height:4px;
border-radius: 2px 0 0 2px;
background-color: #e84545;
transition: .5s;
}

.skills-title:before{
content: '';
position:absolute;
bottom: 0;
left: 50%;
width:100px;
height:4px;
border-radius: 0 2px 2px 0;
background-color: #e84545;
}

.skills-icons{
width:50px;
z-index:2;
}

.skills-img{
width:90px;
height:90px;
position: relative;
border-radius: 45px;
background-color: white;
display:flex;
justify-content:center;
align-items:center;
transition: .5s;
}

.skills-img:after{
content: '';
position:absolute;
top:0;
left: 0;
width:50%;
height:90px;
background-color: white;
border-radius: 45px 0 0 45px;
}

.skills-title h3{
color: #333;
margin-top: 0.5rem;
}

@media screen and (max-width:990px){
 .skills-container{
 grid-tempLate-columns: repeat(2, 1fr);
 padding: 2rem 50px;
 }
}

@media screen and (max-width:650px){
 .skills-container{
 grid-tempLate-columns:2fr;
 padding: 2rem 50px;
 }
}

/*----------*/

.other{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.txt-rotate{
  text-align: center justify;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #3365A6;
}

.proj-txt{
  text-align: center;
  padding: 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.proj{
  color: #F23D4C;
  font-style: italic;
}

.proj:hover{
  color: #F21B1B;
}

/* footer */

.page-footer{
  text-align:center;
  margin-bottom: -20px;
}

.gintouch{
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  text-align:center;
  margin-top: 40px;
  font-size: 3rem;
  color: #F23D4C;
}

/* contact form */

form {
  max-width:420px;
  margin:20px auto;
}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #e84545;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
  border:2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover {
  background:#e84545;
}

/* icons footer */

.fab{
  font-size: 30px;
  margin-top: 20px;
  color: white;
  margin-right: 10px;
}

.iconify{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 36px;
  text-align: center;
}

.fa-github:hover{
  color: #6155a6;
}

.fa-hackerrank:hover{
  color: #86c232;
}

.iconify:hover{
  color: #f05454;
}

.fa-linkedin-in:hover{
  color: #74c7b8;
}

ul li{
  display:inline-block;
 }


.icons{
  padding-top: 20px;
  background-color:#222831;
  margin-left: -20px;
}